name: Build Binaries

on:
  push:
    branches:
      - master

jobs:
  macos:
    name: macOS
    runs-on: macos-10.15
    steps:
      - name: Build macOS dylib
        env:
          SDL2_VERSION: 2.0.20
        run: |
          curl -s -L -O http://www.libsdl.org/release/SDL2-${SDL2_VERSION}.tar.gz
          tar xf SDL2-${SDL2_VERSION}.tar.gz
          cd SDL2-${SDL2_VERSION}
          ./configure CFLAGS="-m64 -mmacosx-version-min=10.9" LDFLAGS="-m64 -mmacosx-version-min=10.9" --without-x --disable-jack --prefix "${PWD}/.."
          make
          make install
      - name: Upload macOS dylib
        uses: actions/upload-artifact@v2
        with:
          name: macOS
          path: lib/libSDL2-2.0.0.dylib
  windows:
    name: Windows
    runs-on: ubuntu-20.04
    steps:
      - name: Fetch Windows dll
        env:
          SDL2_VERSION: 2.0.20
        run: |
          curl -s -L -O https://libsdl.org/release/SDL2-${SDL2_VERSION}-win32-x64.zip
          unzip SDL2-${SDL2_VERSION}-win32-x64.zip
      - name: Upload Windows dll
        uses: actions/upload-artifact@v2
        with:
          name: Windows
          path: SDL2.dll
  linux:
    name: Linux
    runs-on: ubuntu-20.04
    container: centos:centos7
    steps:
      - name: Install Dependencies
        run: yum -y install libXext-devel libX11-devel wayland-devel libGL-devel libGLU-devel libXrender-devel libXrandr-devel libXcursor-devel libXinerama-devel libXi-devel libXScrnSaver-devel gettext-devel make gcc
      - name: Build Linux so
        env:
          SDL2_VERSION: 2.0.20
        run: |
          curl -s -L -O http://www.libsdl.org/release/SDL2-${SDL2_VERSION}.tar.gz
          tar xf SDL2-${SDL2_VERSION}.tar.gz
          cd SDL2-${SDL2_VERSION}
          ./configure --disable-rpath --enable-sdl-dlopen --disable-loadso --disable-audio --disable-sensor --enable-x11-shared --enable-video-wayland --disable-video-directfb --disable-video-vulkan --disable-video-dummy --disable-power --disable-joystick --disable-haptic --disable-filesystem --disable-file --disable-cpuinfo --prefix "${PWD}/.."
          make
          make install
      - name: Upload Linux so
        uses: actions/upload-artifact@v2
        with:
          name: Linux
          path: lib/libSDL2.so
